.worksheet-creation-settings {
  height: 300px;
}

.question-slider-tooltip > .bp3-popover-target,
.number-slider-tooltip > .bp3-popover-target {
  width: 50%;
}

.large-number-question-slider-tooltip > .bp3-popover-target,
.large-number-digit-range-slider-tooltip > .bp3-popover-target {
  width: 100%;
}
