$dark-mode-line: rgba(255, 255, 255, 0.2);
$dark-mode-background: #293742;
$dark-mode-medium-background: #394b59;

$dark-mode-numbering: #48aff0; // darker color: #137cbd;

$danger-default: #db3737;
$link: #48aff0;
